main {
  min-height: calc(100vh - 12.8rem);
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1 {
  text-align: center;
  font-size: 4.8rem;
  margin: 3rem 0;
}

main > form {
  display: flex;
  align-items: center;
  width: 60%;
  height: 4.8rem;
  margin-bottom: 2.4rem;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  background-color: var(--gray-700);
  box-shadow: 1px 1px 5px 0px var(--gray-950);
}

main > form > input[type=text] {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--gray-200);
  flex: 1;
}

.moments-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}

.moment {
  /* box-shadow: 1px 1px 5px 0px #f3f4f6aa; */
  box-shadow: 0px 0px 9px 0px var(--gray-950);
  border-radius: 8px;
  width: 32%;
  margin-bottom: 2.4rem;
  text-align: center;
  overflow: hidden;
}

.moment > img {
  width: 100%;
  margin-bottom: 1rem;
}

.moment h3,
.moment p {
  margin-bottom: 1.6rem;
}

.date {
  font-size: 1.4rem;
  font-style: italic;
}

a {
  color: var(--yellow-400);
  padding: 0.8rem 0.8rem;
  border-radius: 4px;
  transition: all 0.3s;
}

a:hover {
  box-shadow: 0px 0px 9px 0px var(--gray-950);
}

.moments-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moments-empty > h2 {
  font-size: 3.2rem;
}
